 body {
background:url("../res/bg-tecmate.png") repeat;  
background-color: #f4f4f4;
font-family:"Time New Roman";
font-style: 12pt;
}

div.conteniner{ 
	height:auto;
	margin: 10px  auto;
	width:95%;
    background:rgba(0,0,0,0); 
	 }   

aside#Caja_Contenido_cen{
	background:rgba(0,0,0,0.5); 
    border: 10px solid #950006; 
	margin: 0px auto;
	height: auto; 
    z-index: 2;
}
 

article select, option{
	width: 100%;
	text-align:left; 
	border-radius: 8px;
}

 
 .con_prog{

		background: #EEE;
		margin: 0% auto;
		overflow-y:auto; 
		position: relative;
		width: 85%;
		height: 50%;
}
.coprog { width: 95%; height: 80%; }

.txt_p{ text-align: left; }


footer{
    background: #950006;  
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    height: 20px;
    font-size: 8pt; 
}


footer p.right{
text-align: center; 
 color:rgba(255,255,255,0.7);
    text-shadow:5px 5px 10px #000;;
} 



/* ------------------------------------------------------- */

.modalmask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 15;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}
/* ------------------------------------------------------- */
.modalbox{ 
    width: 310px;
    height:400px;
    position: relative;
    padding: 15px 20px 15px 20px;
    background: #fff;
    border-radius:5px;
    box-shadow: 0 2px 5px #eee;
    border:7px solid #E20808;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
     
}
.modalbox:after{ 
    content: url('../res/avatar.png');
    bottom: -15px;
    left: 100px;  
    position: absolute;
    height: auto;
    z-index: 20;

} 
.txt{
    border-radius: 7px;
    border:3px solid #ddd;
    padding: 3px;
    color:red;
}
.txt:after{
     content: " ";
     position: absolute;
     top:63px;
     bottom: 0px;
     left:110px; 
     border-bottom: 7px solid transparent;
     border-left: 7px solid transparent;
     border-right: 7px solid transparent;
     border-top: 7px solid #ddd;
}
/* ------------------------------------------------------- */
.movedown {
    margin:100px auto 0px auto;
}
.rotate {
    margin:100px auto 0px auto;
    -webkit-transform: scale(-5,-5);
    transform: scale(-5,-5);
}
.resize {
    margin:100px auto 0px auto;
    width:0;
    height:0;
 
}
.modalmask:target .movedown{  
    margin:100px auto 0px auto;
}
.modalmask:target .rotate{     
    transform: rotate(360deg) scale(1,1);
        -webkit-transform: rotate(360deg) scale(1,1);
}
 
.modalmask:target .resize{
    width:0px;
    height:0px;
}/* ------------------------------------------------------- */

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
 
}
 
.close:hover {
    background: #E20808;
    color:#eee;
    
}