
/* ------------------------------------------------------- */

.modalmask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 15;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}
/* ------------------------------------------------------- */
.modalbox{ 
    width: 226px;
    height:400px;
    position: relative;
    padding: 15px 20px 15px 20px;
    background: #fff;
    border-radius:5px;
    box-shadow: 0 2px 5px #eee;
    border:7px solid #E20808;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
     
}
.msj{
    border:7px solid blue;
}
.modalbox:after{ 
    content: url('../res/avatar.png');
    bottom: -15px;
    left: 100px;  
    position: absolute;
    height: auto;
    z-index: 20;

} 
.txt, .txt1{ 
    width: 90px;
    border-radius: 7px;
    border:3px solid #ddd;
    padding: 3px;
    color:red;
} 
.txt:after{
    content: "Usuario o Password incorrectos, Por favor verifique su informacion..."; 
}
.txt1{ 
    width: 80px;
    height: 100px;
    padding: 8px;
    color:blue;
} 
.txt1:after{
    content: "Secion Terminada gracias por usar la plataforma..."; 
}
.flecha:after{
     content: " ";
     position: absolute;
     top:127px;
     bottom: 0px;
     left:99px; 
     height: 0px;
     border-bottom: 7px solid transparent;
     border-left: 17px solid #ddd;
     border-right: 7px solid transparent;
     border-top: 7px solid transparent;
     -webkit-transform: rotate(175deg) scale(1,1);
}
/* ------------------------------------------------------- */
.movedown {
    margin:100px auto 0px auto;
}
.rotate {  

 position: absolute;
 
  top: 50%;
  left: 50%;
 
  margin-top: -250px;   
  margin-left: -130px;
    -webkit-transform: scale(-5,-5);
    transform: scale(-5,-5);
}
.resize {
    margin:100px auto 0px auto;
    width:0;
    height:0;
 
}
.modalmask:target .movedown{  
    margin:100px auto 0px auto;
}
.modalmask:target .rotate{     
    transform: rotate(360deg) scale(1,1);
        -webkit-transform: rotate(360deg) scale(1,1);
}
 
.modalmask:target .resize{
    width:0px;
    height:0px;
}/* ------------------------------------------------------- */

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
 
}
 
.close:hover {
    background: #E20808;
    color:#eee;
    
}